.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}


h2 {
    text-align: center;
}

#sports-list li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 30px;
}


#sports-list li h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

#sports-list li p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

#sports-list li button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #3d1f7f;
    color: #fff;
    cursor: pointer;
}

#sports-list li button:hover {
    background-color: #342160;
}