h2 {
    text-align: center;
}

#lista-equipos li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#lista-equipos li h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

#lista-equipos li p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

.search-team-box {
    width: 80%;
    margin: 20px auto;
    background: #ffffff;
    color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.search-team-box h2 {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Center the Save Changes button */
.form-group button[type="submit"] {
    display: block;
    margin: 0 auto; /* Center the button */
    background: #3d1f7f;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}

.form-group button[type="submit"]:hover {
    background: #342160;
}

/* Flexbox container for results and map */
.flex-container {
    display: flex;
    justify-content: space-around;
}

.results-column {
    width: 45%; /* Adjust width as needed */
    box-sizing: border-box;
    padding: 10px;
}

#map {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    border-radius: 10px;
}