#mis-equipos {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 100vh;
    gap: 20px;
}

.column {
    width: 40%;
    text-align: center;
}

#lista-equipos-capitan, #lista-equipos-miembro {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#lista-equipos-capitan h2, #lista-equipos-miembro h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

#lista-equipos-capitan ul, #lista-equipos-miembro ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#lista-equipos-capitan li, #lista-equipos-miembro li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#lista-equipos-capitan li h3, #lista-equipos-miembro li h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

#lista-equipos-capitan li p, #lista-equipos-miembro li p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

.action-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #3d1f7f;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.action-link:hover {
    background-color: #342160;
}

.request-count {
    color: white;
    font-weight: bold;
}
