/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilos del encabezado */
header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333333;
}

/* Estilos para la sección de torneos */
#mis-torneos {
    text-align: center;
    margin: 20px 0;
}

#mis-torneos h2 {
    margin-bottom: 20px;
}

/* Estilos para los cuadros de torneos */
#lista-torneos-creados, #lista-torneos-participados {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}

#lista-torneos-creados h3, #lista-torneos-participados h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

#lista-torneos-creados ul, #lista-torneos-participados ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#lista-torneos-creados li, #lista-torneos-participados li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 30px;
}

#lista-torneos-creados li h3, #lista-torneos-participados li h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

#lista-torneos-creados li p, #lista-torneos-participados li p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

.action-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #3d1f7f;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.action-link:hover {
    background-color: #342160;
}

.request-count {
    color: red; /* Cambia este color al que prefieras */
    font-weight: bold;
}
