header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.welcome-message {
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 15px;
}

.welcome-message span {
    color: #6a0dad;
    font-weight: 600;
}