/* CSS for the horizontal navbar */
nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Flex container for navbar items */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


/* User */
.user-notification-container{
    display: flex;
    align-items: center;
}

#user-info {
    margin-right: 20px;
}

#user-name {
    color: #fff;
    margin-right: 5px;
}

#verified-icon {
    color: #00f4ff; /* Adjust the color as needed */
}

/********/

/* Estilos para la sección de Bienvenida */
#bienvenida {
    text-align: center;
    margin-top: 40px;
}

#bienvenida h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* STYLES FOR LIST */

section#torneos {
    padding: 20px;
}

section#torneos h2 {
    margin-top: 0;
}

ul#tournament-options {
    list-style: none;
    padding: 0;
}

ul#tournament-options li {
    margin-bottom: 10px;
}

ul#tournament-options li a {
    display: block;
    background-color: #3d1f7f;
    color: #fff;
    padding: 8px 12px; /* Adjusted padding */
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    width: 150px; /* Reduced width */
}

ul#tournament-options li a:hover {
    background-color: #342160;
}

section#deportes {
    padding: 20px;
}

section#deportes h2 {
    margin-top: 0;
}

ul#sport-options {
    list-style: none;
    padding: 0;
}

ul#sport-options li {
    margin-bottom: 10px;
}

ul#sport-options li a {
    display: block;
    background-color: #3d1f7f;
    color: #fff;
    padding: 8px 12px; /* Adjusted padding */
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    width: 150px; /* Reduced width */
}

ul#sport-options li a:hover {
    background-color: #342160;
}




.button {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 15px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
}

.bell {
    width: 13px;
}

.bell path {
    fill: rgb(0, 206, 62);
}

.arrow {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: rgb(77, 77, 77);
    transition-duration: .2s;
}

.button:hover .arrow {
    animation: slide-right .6s ease-out both;
}

/* arrow animation */
@keyframes slide-right {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.button:active {
    transform: translate(1px , 1px);
    transition-duration: .2s;
}


/* User */
/* Adjust padding and gap for user info */
#user-info {
    display: flex;
    align-items: center;
}

#user-name {
    font-weight: bold;
}

@media (max-width: 600px) {
    .nav-container {
        flex-direction: column;
    }
}

