/* CSS for the horizontal navbar */

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/*     BODY     */

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5; /* Change to a light background color */
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.sport-card {
    background: #ffffff; /* White background */
    border: 1px solid #ccc; /* Light border color */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: box-shadow 0.3s ease;
}

.sport-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Increased shadow on hover */
}

.sport-card h2 {
    margin: 0;
    font-size: 24px;
}

.sport-card p {
    margin: 10px 0;
    color: #666; /* Dark gray text color */
}

.edit-button, .delete-button {
    background: #3d1f7f; /* Darker accent color */
    color: #fff; /* Text color */
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover, .delete-button:hover {
    background: #342160; /* Darker color on hover */
}

.delete-button {
    background: #d32f2f; /* Red color for delete button */
    margin-left: 10px;
}

