.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #ccc;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
    color: #666;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: #333;
    font-size: 16px;
    width: 80%;
    float: left;
    margin: 0 10px;
}
