/* CSS for the horizontal navbar */

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el contenedor */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/*  STYLES FOR EACH RESULT  */

h2 {
    text-align: center;
}

/* Style for each team */
#tournament-list li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 30px;
}


/* Team name style */
#tournament-list li h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

/* Additional information style */
#tournament-list li p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

#tournament-list li button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #3d1f7f;
    color: #fff;
    cursor: pointer;
}

/* Button hover style */
#tournament-list li button:hover {
    background-color: #342160;
}