#user-info {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

#user-name {
    color: #fff;
    margin-right: 5px;
    font-weight: bold;
}

#verified-icon {
    color: #00f4ff;
    display: none;
    margin: 5px;
}